* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Gallery intro */

.gallery-intro {
    display: flex;
    margin: 4rem 0;  
}


.gallery-intro-text > h2 {
    color: var(--darkbrown);
    font-size: 2rem;
    margin: 0.6rem 0 1rem 0;
}

.gallery-intro-text > p {
    color: var(--grey);
}


/* Gallery */

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
}

.img-1row-1st {
    grid-column: 1/2;
    grid-row: 1/2;
}

.img-1row-2nd {
    grid-column: 1/2;
    grid-row: 2/3;
}

.img-1row-3rd-big {
    grid-column: 2/4;
    grid-row: 1/3;  
}

.img-2row-1st-big {
    grid-column: 1/3;
    grid-row: 3/5;
}

.img-2row-2nd {
    grid-column: 4/5;
    grid-row: 3/4;
}

.img-2row-3rd {
    grid-column: 4/5;
    grid-row: 4/5;
}

.img-3row-1st {
    grid-column: 1/2;
    grid-row: 5/6;
}

.img-3row-2nd {
    grid-column: 1/2;
    grid-row: 6/7;
}

.img-3row-3rd-big {
    grid-column: 2/4;
    grid-row: 5/7;
}