* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --bage: #FCF8F1; /* For backgrounds */
    --darkerbage: #F8F0E6; /* For albums page extra album */
    --grey: #777167; /* For text light background */
    --white: #FFFFFF; /* For white backgrounds */
    --terrakota: #C6896B; 
    --darkbrown: #241B06; /* For background and text */
    --darkyellow: #D59700; /* For yellow hovers */
    --yellow: #F8B000; /* Main yellow */
    --darkeryellow: #83550c; /* Copyright text */
    --darkestbage: #E8E2D7; /* Scrollbar background */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: var(--grey);
}

.grid-container {
    max-width: 1192px;
    margin: 0 auto;
}


/* Main navigation begins */

.main-nav {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links > ul {
    display: flex;
    gap: 3.333rem;
}

.nav-links > ul > li {
    list-style-type: none;
    position: relative;
    display: flex;
    justify-content: center;
}

.nav-links > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}

.nav-links > ul > li > a:hover {
    color: var(--yellow);
}

.nav-links > ul > li > a.active {
    color: var(--yellow);
    font-weight: 500;
}

.hovericon {
    display: none;
}

.nav-links > ul > li > a:hover + .hovericon {
    display: flex;
    position: absolute;
    top: 35px;
}

.nav-links > ul > li > a.active + .hovericon {
    display: flex;
    position: absolute;
    top: 35px;
}

.cls-1 {
    fill: #f1ae00;
}

.cls-2 {
    fill: #fff;
}

/* Main navigation ends */

/* Contact section starts */

.contact p {
    padding-top: 25px;
    color: var(--white);
}

.contact {
    text-align: center;
    background-color: var(--darkbrown);
    padding: 80px 0 80px 0;
}

.btn {
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    display: flex;
    width: fit-content;
    clip-path: polygon(1% 5%, 100% 0, 100% 100%, 0 100%);
}

.btn > a {
    text-decoration: none;
    color: var(--white);
    padding: 18px 50px 18px 50px;
}

.btn:hover {
    background-color: var(--darkyellow);
}

.btn-contact-me {
    background-color: var(--terrakota);
    margin: 0 auto;
    margin-top: 40px;
}

/* Contact section ends */

/* Footer section starts */

footer {
    background-color: var(--yellow);
    text-align: center;
    padding: 50px 0 50px 0;
}


.footer-nav {
    padding: 50px 0 50px 0;
}

.footer-nav > ul {
    margin: 0 auto;
    justify-content: center;
}

.footer-nav > ul > li > a:hover {
    color: var(--darkbrown);
}

.footer-nav > ul > li > a.active {
    color: var(--darkbrown);
    font-weight: 500;
}

.social-media a {
    text-decoration: none;
    color: var(--white);
    padding: 0 18px 0 0;
}

#icon-background {
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}
#icon-background:hover {
    fill: var(--darkyellow);
}


/* Footer section ends */

/* Copyright section starts */

.copyright {
    text-align: center;
    padding: 20px 0 20px 0;
    background-color: var(--darkyellow);
    color: var(--darkeryellow);
}

.copyright a {
    color: var(--darkeryellow);
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}

.copyright a:hover {
    color: var(--darkbrown);
}

/* Copyright section ends */


/* Back to top button starts */

.btn-top {
    display: none;
}

.btn-top a {
    background-color: var(--darkbrown);
    display: flex;
    position: fixed;
    z-index: 99;
    bottom: 30px;
    right: 30px;
    padding: 17px;
    transition: 0.1s ease-in;
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -ms-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
}


.btn-top a:hover {
    margin-bottom: 5px;
    padding-bottom: 22px;
}


/* Back to top button ends */

/* Custom scrollbar starts */

::-webkit-scrollbar {
    width: 0.8vw;
  }

  ::-webkit-scrollbar-track {
    background: var(--darkestbage);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--yellow);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--darkyellow)
  }

/* Custom scrollbar ends */


/* New single section starts */

.new-single {
    background: url("../img/Homepage/New_single.jpg");
    text-align: center;
    margin-top: 330px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    padding: 70px 0 50px 0;
    clip-path: polygon(3% 0, 100% 0, 97% 100%, 0% 100%);
}

.y-h2-title {
    font-size: 1.944rem;
    color: var(--yellow);
    padding-bottom: 20px;
}

.new-single p {
    max-width: 788px;
    margin: 0 auto;
    line-height: 1.777;
    color: var(--white);
}

.listen-on h4 {
    font-size: 18px;
    font-weight: 400;
    color: var(--yellow);
    padding: 40px 0 20px 0;
}

.listen-on a, .social-media a {
    text-decoration: none;
    color: var(--white);
    padding: 0 18px 0 0;
}

#icon-background {
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}
#icon-background:hover {
    fill: var(--darkyellow);
}

/* New single section ends */